body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.list-item-section {
    padding: 10px 0;
}

.list-item-container {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

.listItem {
    min-height: 75px;
    /* padding: 10px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.listItem .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listItem .navigate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listItem .voting-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 5px;
}

.listItem .upvote-button {
  background-color: green;
  color: white;
  margin-right: 2px;
}

.listItem .downvote-button {
  background-color: red;
  color: white;
  margin-left: 2px;
}

.listItem .voteCountGreen {
  color: green;
}

.listItem .voteCountRed {
  color: red;
}


.listItem .title {
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
}

.listItem .description {
    margin: 5px 0;
    font-size: 14px
}

.huntMapInfo {
  background: white;
  padding: 15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.pplGoing {
  margin-bottom: 5px;
}

.photo-container {
  display: flex;
  flex-direction: row;
  max-width: 100px;
}

