body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.hunt-page {
  /* box-shadow: 10px 5px 5px gray; */
}

.list-item-section {
    padding: 10px 0;
    
}

.list-item-container {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 10px 5px gray;
}

.listItem {
    min-height: 75px;
    /* padding: 10px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.listItem .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listItem .navigate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigate button {
  margin-right: 5px;
  
  border-radius: 7%; 
  width: 15vw;
  height: 5vh;
  /* background-color: rgb(0, 151, 249); */
  /* color: white */
}

.listItem .voting-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 5px;
}

.listItem .upvote-button {
  background-color: #9aff91;
  font-size: large;
  font-weight: bold;
  color: black;
  margin-right: 2px;
  border: none;
}

.listItem .downvote-button {
  background-color: #ffb0b0;
  color: black;
  margin-left: 2px;
  border: none;
}

.listItem .voteCountGreen {
  color: green;
}

.listItem .voteCountRed {
  color: red;
}


.listItem .title {
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
}

.listItem .description {
    margin: 5px 0;
    font-size: 14px
}

.huntMapInfo {
  background: white;
  padding: 15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.newLocationLabel {
  margin-left: 15px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-left: 10px;
}